article{
  box-sizing: border-box;
  float: right;
  height: 100%;
  padding: 2px;
}
#imagen1{
  width: 100%;
  background-color: #82c3a6;
}
#imagen2{
  width: 40%;
}
#imagen3{
  width: 40%;
}

@media screen and (max-width: 960px){
	#MiDisenoMobil{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px){
	#MiDisenoMobil{
		width: 100%;
		margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    #MiDisenoMobil{
  		width: 100%;
  		margin: 0 auto;
  	}
  	#imagen1{
  	width: 100%;
  	}
  	#imagen2{
  	width: 100%;
  	}
  	#imagen3{
  	width: 100%;
  	}
  	header{
  	width:100%;
  	}
}
